.pagination-top {
  background-color: #000;
}
.pagination {
  margin: 10px;
  padding: 0 1em;
  font-size: 14px;
  color: #fff;
  .current {
    margin: 0 1em;
  }
  .prev, .next {
    position: relative;
    z-index: 1;
    cursor: pointer;

    &.disabled {
      color: #666;
    }
  }
  .goto {
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    left:2em;
    > input {
      padding-left: 0.5em;
      inline:0;
      width: 6em;
      border: 0;
      height: 1.5em;
      line-height: 1.5em;
    }
    > .go-btn {
      height: 1.5em;
      line-height: 1.5em;
      color: #000;
      border-left: 1px solid;
      width: 3em;
      position: relative;
      left: -3em;
      top: 1px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }
  }
}
