.main-game {
  padding: 20px;
  .main-game-header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;

    .img-box {
      width: 250px;
      height: 170px;
      overflow: hidden;
      > img {
        width: 100%;
      }
    }
    .intro {
      margin-left: 15px;
      flex: 1;
      /* overflow: hidden; */
      .row {
        color: #fff;
        /* border-bottom: 1px solid #666; */
        padding-bottom: 5px;
        line-height: 1.5em;
        height: 1.5em;
        /* float: left; */
      }
      .pre {
        color: #999;
      }
    }
  }
}
