.main-nes {
  padding: 20px;
  .main-nes-header-top {
    height: 180px;
  }
  .main-nes-header {
    display: flex;
    padding-bottom: 10px;

    .img-box {
      width: 250px;
      height: 170px;
      overflow: hidden;
      > img {
        width: 100%;
      }
    }
    .intro {
      margin-left: 15px;
      flex: 1;
      .row {
        color: #fff;
        padding-bottom: 5px;
        line-height: 1.5em;
        height: 1.5em;
      }
      .pre {
        color: #999;
      }
    }
  }



  .main-nes-history {
    border: 1px solid #fff;
    height: 200px;
    overflow: auto;

    > ul {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      > .history-row {
        box-sizing: border-box;
        padding: 5px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        display: flex;
        min-width: 50%;
        max-width: 50%;
        flex:1;
        /* float: left; */
        /* margin-top: -1px;
        margin-left: -1px; */
        /* margin-right: -1px; */
        font-size: 12px;
        .s,.n,.t {
          margin-right: 1em;
        }

      }
    }
  }

  .main-nes-center {
    .main-nes-history-top {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);

      .main-nes-history-top-header {
        border: 1px solid #fff;
        border-bottom: 0;
        padding: 10px;
        > button {
          float: right;
        }
      }
    }
  }
}
