@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?iconTimeStamp=1514209568304'); /* IE9*/
  src: url('../fonts/iconfont.eot?iconTimeStamp=1514209568304#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf?iconTimeStamp=1514209568304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?iconTimeStamp=1514209568304#iconfont') format('svg'); /* iOS 4.1- */
}

/* icon code */
.iconfont,
[class*=" icon-"],
[class^="icon"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* icon code2 */

.icon-gouxuan:before { content: "\e625"; }

.icon-fangda:before { content: "\e613"; }
